<header>
    <nav>
        <ul>
            {% comment %}
            Note: omitting the closing li on purpose. HTML5 auto-closes them and leaves no
                whitespace in between.
            {% endcomment %}
            <li><a href="/" class="title noline">Lucas Jansen</a>
            <li><a href="/projects" class="noline"><i class="fas fa-terminal"></i>&ensp;<u>Projects</u></a>
            {% comment %}<li><a href="https://twitter.com/staticintlucas" class="noline"><i class="fab fa-twitter"></i>&ensp;<u>Twitter</u></a>{% endcomment %}
            <li><a href="https://github.com/staticintlucas" class="noline"><i class="fab fa-github"></i>&ensp;<u>Github</u></a>
        </ul>
    </nav>
</header>
