<header>
    <nav>
        <ul>
            <!-- Note: omitting the closing li; HTML5 auto-closes them and I get no whitespace in
                between -->
            <!-- Another note: I'm hard coding the syntax highlighting here since inline code blocks
                are apparently not supported in HTML, only in Markdown -->
            <!-- <li><a href="/" class="title">{% highlight c %}static int lucas;{% endhighlight %}</a> -->
            <li><a href="/" class="title"><span class="highlight"><code class="language-c" data-lang="c"><span class="k">static</span> <span class="kt">int</span> <span class="n">lucas</span><span class="p">;</span></code></span></a>
            <li><a href="https://twitter.com/staticintlucas"><i class="fab fa-twitter"></i></a>
            <li><a href="https://github.com/staticintlucas"><i class="fab fa-github"></i></a>
        </ul>
    </nav>
</header>
