@import "variables";

body {
  background-color: $background;
  color: $foreground;
  padding: $content-spacing / 2;
  font-size: $font-size;
  line-height: $font-line-height;
  font-family: $font-family;
  font-weight: $font-weight;
  letter-spacing: $font-letter-spacing;
  text-rendering: optimizeLegibility;
  display: flex;
  flex-direction: column;
  align-items: center;

  ::selection {
    background-color: $selection-bg;
    color: $selection-fg;
    text-shadow: none;
  }

  >* {
    margin-bottom: $content-spacing;

    &:last-child {
      margin-bottom: 0;
    }
  }

  >header {
    width: 100%;
    max-width: $max-overall-width;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: $max-content-width;

  >article, footer {
    width: 100%;
  }

  >article {
    margin-bottom: $content-spacing;

    >:first-child {
      margin-top: 0;
    }

    >:last-child {
      margin-bottom: 0;
    }
  }

  >footer {
    font-size: $footer-font-size;
    color: $greyed-out;
  }
}

header>nav {
  font-size: $header-font-size;

  >ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 0;

    &, & li {
      padding-left: 0;
    }

    >li {
      margin-right: $nav-h-spacing;

      @include narrower-mobile {
        width: 100%;

        &:not(:last-child) {
          margin-bottom: $nav-v-spacing;
        }
      }

      &:first-child {
        margin-right: auto;

        @include mobile {
          width: 100%;
          margin-bottom: $nav-v-spacing;
        }
      }

      &:last-child {
        margin-right: 0;
      }

      a:not(:hover):not(:focus) u {
        background: transparent;
      }
    }

    a.title {
      font-size: $title-font-size;
    }
  }
}

p, form, h1, h2, h3, h4, h5, h6, ul, ol, div.highlighter-rouge, table, blockquote, hr, span {
  margin: $paragraph-spacing 0;

  &.grey {
    color: $greyed-out;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  font-weight: $header-font-weight;
  line-height: $header-line-height;
  text-decoration: none;
  margin-top: 2 * $paragraph-spacing;
  border-bottom: solid $grey-thickness $hr-color;
  // Match the bottom underline with padding so its text is vertically centered within itself
  padding-top: $grey-thickness + $header-padding;
  padding-bottom: $header-padding;

  &.noline {
    border-bottom: none;
    padding-top: none;
  }
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4, h5, h6 {
  font-size: $h4-font-size;
}

i, em {
  font-style: italic;
}

b, strong {
  font-weight: $bold-font-weight;
}

// Overridden with fancy underlines below
// u, ins {
//     text-decoration: underline;
//     text-decoration-color: $hr-color;
//     text-decoration-thickness: $underline-thickness;
//     text-decoration-skip-ink: all;
// }

s, del {
  text-decoration: line-through;
  text-decoration-color: $hr-color;
  text-decoration-thickness: $underline-thickness;
}

ul, ol {
  padding-left: $list-h-spacing;

  >li {
    padding-left: $li-h-spacing;

    &::marker {
      color: $highlight;
    }

    p, ul, ol {
      margin: $li-v-spacing 0;
    }
  }
}

ul {
  list-style-type: square;

  >li::marker {
    font-size: $bullet-font-size;
  }
}

ol {
  list-style-type: decimal;
}

a, u, ins {
  color: $foreground;
  text-decoration: none;
  box-decoration-break: clone;
  background-image: $a-background-image;
  background-repeat: no-repeat;
  background-size: 100% $a-uline-thickness-min; // For IE11-compat
  background-size: 100% $a-uline-thickness;
  background-position: top $a-uline-offset center;
  text-shadow: $a-text-shadow;

  h1 &, h2 &, h3 &, h4 &, h5 &, h6 & {
    background-position: top $a-header-uline-offset center;
  }

  &.noline {
    background-image: none;
  }
}

a {
  &, u, ins {
    // Also transition -webkit-margin-start, an inconsequential webkit-only style to force a redraw.
    // See: https://stackoverflow.com/questions/36046185/
    transition: color 0.2s ease-out, -webkit-margin-start 0.2s ease-out;
    will-change: color, background-image;
    -webkit-margin-start: .00001px;
  }

  &:hover, &:focus {
    &, u, ins {
      color: $active-fg;
      -webkit-margin-start: 0;
    }
  }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

pre, code {
  font-family: $mono-font-family;
  font-size: $mono-font-size;
  white-space: pre-wrap;
  letter-spacing: $mono-letter-spacing;
  line-height: $mono-line-height;
  background: $lighter;
  padding: $mono-padding;
}

pre.highlight {
  // TODO use CSS counters instead when https://github.com/gettalong/kramdown/issues/617 is
  // resolved and HTMLLinewise can be used.

  &, code, pre {
    padding: 0;
  }

  >code>table {
    width: 100%;
    table-layout: fixed;
    border-left: solid $highlight-line $highlight;

    tr {
      border: none;
    }

    td, th {
      word-wrap: none;
      padding: 0;
      border: none;

      &:first-of-type {
        width: 1.65 * $code-h-spacing;
        padding-right: $code-h-spacing;
        text-align: right; // For IE11-compat
        text-align: end;
        user-select: none;
      }

      >pre {
        width: 100%;
        padding: $code-v-spacing 0;
        overflow-x: auto;
      }
    }
  }
}

blockquote {
  font-style: italic;
  background: $lighter;
  padding: $quote-h-spacing $quote-v-spacing;
  border-left: solid $highlight-line $highlight;

  >p {
    // To override the reset, auto is not supported by anyone but Firefox
    quotes: initial;
    quotes: auto;
    margin: 0;

    &::before, &::after {
      display: inline;
    }

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }
  }
}

table {
  width: 100%;

  thead, tfoot {
    font-family: $table-header-font-family;
    font-weight: $table-header-font-weight;
    font-size: $table-header-font-size;
    // Make line height same as other rows for consistency
    line-height: $font-line-height * $font-size / $table-header-font-size;
    color: $greyed-out;

    th {
      text-align: left !important; // For IE11-compat
      text-align: start !important;
    }
  }

  tr {
    border-top: solid $table-line-thickness $lighterer;
    border-bottom: solid $table-line-thickness $lighterer;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  thead {
    border-bottom: solid $highlight-line $highlight;
  }

  tfoot {
    border-top: solid $highlight-line $highlight;
  }

  th, td {
    padding: $table-v-spacing $table-h-spacing;

    >code {
      background: none;
      padding: 0;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

div.card {
  display: block;
  margin: $paragraph-spacing 0;
}

hr {
  border: solid 0 $lighterer;
  border-bottom-width: $hr-thickness;
  margin: 2 * $paragraph-spacing 0;
}

svg.icon-tabler {
  vertical-align: text-bottom;
}
